.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginred{
  height: 721px;
}


/* No custom JavaScript required for color changing */

/* Default styles for the button */
.black-to-red {
  color: black;

}

/* Custom styles for the button when it's clicked */
.black-to-red:focus {
  color: red;
}

.black-to-red:hover {
  color: red;
}

/* Optional: Remove the default focus outline */
.black-to-red:focus:outline-none {
  outline: none;
}



#sign{

  padding-left: 50px;
  margin: 21%;

}
#signinbutton{
  background-color: red
  ;
  margin-right: 70%;
}

.tableodd{

  background-color : #f8f8f8;


}
.nmbrs{
  color: red;
}


a [title]:hover::before {
  content: attr(title);
  position: fixed ;

  transform: translateX(50px);
  background-color: #000;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0.8;
  z-index: 10;
}

/* Hide the default browser tooltip */
a[title]:hover {
  text-decoration: none;
}